apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
  labels:
    tier: backend
    app: {{ app_name }}
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 8080
  selector:
    tier: backend
    app: {{ app_name }}
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
spec:
  revisionHistoryLimit: 2
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      annotations:
        pod.beta.kubernetes.io/init-containers: '[
            {
                "name": "waiting-cloud-config-server",
                "image": "busybox",
                "command": ["/bin/sh", "-c", "for i in $(seq 1 300); do sleep 1; if nslookup cloud-config-server; then exit 0; fi; done; exit 1"],
                "imagePullPolicy": "IfNotPresent"
            }
        ]'
      labels:
        tier: backend
        app: {{ app_name }}
    spec:
      containers:
        - name: {{ app_name }}
          image: "nexus.aba.land:5000/{{ image }}"
          args: ["--logging.config=${spring.cloud.config.uri}/{{ app_name }}/default/master/logback-spring.xml"]
          resources:
            requests:
              cpu: 100m
              memory: 250Mi
          imagePullPolicy: "Always"
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /management/info
              port: 8080
          env:
          - name: CONFIG_SERVER_URI
            valueFrom:
              configMapKeyRef:
                name: configmap-backend
                key: config.uri
          - name: ENCRYPT_KEY
            valueFrom:
              secretKeyRef:
                name: encryptkey
                key: encryptkey
          - name: ENVIRONMENT
            valueFrom:
              configMapKeyRef:
                name: configmap-backend
                key: environment
          - name: JAVA_OPTS
            value: -Xmx192m
{% if new_relic_monitor is defined and new_relic_monitor == "true" %}
          - name: JAVA_AGENT
            valueFrom:
              configMapKeyRef:
                name: configmap-backend
                key: java.agent
          - name: NEW_RELIC_APP_NAME
            value: {{ env | upper }} {{ app_name }}
          - name: NEW_RELIC_LICENSE_KEY
            valueFrom:
              configMapKeyRef:
                name: configmap-backend
                key: newrelic.licensekey
{% endif %}
      imagePullSecrets:
        - name: nexus.aba.land
