apiVersion: v1
kind: Service
metadata:
{% if load_balancer_port is defined and load_balancer_port == 443 %}
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-ssl-cert: {{ elb_ssl }}
    service.beta.kubernetes.io/aws-load-balancer-backend-protocol: http
{% endif %}
  name: {{ app_name }}
  namespace: {{ namespace }}
  labels:
    tier: frontend
    app: {{ app_name }}
spec:
  ports:
  - port: {{ load_balancer_port | default(80) }}
    protocol: TCP
    targetPort: 80

  selector:
    tier: frontend
    app: {{ app_name }}
  type: {{ port_service_type | default('LoadBalancer') }}
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
spec:
  revisionHistoryLimit: 2
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      annotations:
        pod.beta.kubernetes.io/init-containers: '[
            {
                "name": "waiting-cloud-config-server",
                "image": "busybox",
                "command": ["/bin/sh", "-c", "for i in $(seq 1 300); do sleep 1; if nslookup cloud-config-server; then exit 0; fi; done; exit 1"],
                "imagePullPolicy": "IfNotPresent"
            }
        ]'
      labels:
        tier: frontend
        app: {{ app_name }}
    spec:
      containers:
        - name: {{ app_name }}
          image: "nexus.aba.land:5000/{{ image }}"
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /management/info
              port: 80
          env:
          - name: CONFIG_SERVER_URI
            valueFrom:
              configMapKeyRef:
                name: configmap-backend
                key: config.uri
          - name: ENCRYPT_KEY
            valueFrom:
              secretKeyRef:
                name: encryptkey
                key: encryptkey
          - name: ENVIRONMENT
            valueFrom:
              configMapKeyRef:
                name: configmap-backend
                key: environment
          - name: NODE_ENV
            valueFrom:
              configMapKeyRef:
                name: configmap-backend
                key: node.env
{% if new_relic_monitor is defined and new_relic_monitor == "true" %}
          - name: NEW_RELIC_APP_NAME
            value: {{ env | upper }} {{ app_name }}
          - name: NEW_RELIC_LICENSE_KEY
            valueFrom:
              configMapKeyRef:
                name: configmap-backend
                key: newrelic.licensekey
{% endif %}
      imagePullSecrets:
        - name: nexus.aba.land
