apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: api-gateway
  namespace: {{ namespace }}
spec:
  revisionHistoryLimit: 2
  minReadySeconds: 60
  template:
    metadata:
      labels:
        tier: backing
        app: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: "nexus.aba.land:5000/api-gateway:{{ image_version | default('master')}}"
          imagePullPolicy: Always
          ports:
            - containerPort: 80
      imagePullSecrets:
        - name: nexus.aba.land

---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: {{ namespace }}
  labels:
    tier: backing
    app: api-gateway
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    tier: backing
    app: api-gateway
  type: {{ port_service_type | default('NodePort') }}
