- name: Reload Apache
  command: sudo /bin/systemctl reload httpd

- name: Ansible module in shell
  when: inventory_hostname == "campusweb01"
  action: newrelic_deployment
    token="{{ lookup('env','NEW_RELIC_TOKEN') }}"
    application_id="{{ lookup('env','NEW_RELIC_APPID') }}"
    revision={{ version }}
    appname=abawebapps
