## Environment variables

  SetEnv ABAWEBAPPS_ENV {{ webapps_env }}
  SetEnv ABAWEBAPPS_LOG_PATH /var/log/abawebapps

  SetEnv DB_HOSTNAME {{ webapps_db_host }}
  SetEnv DB_USERNAME {{ webapps_db_user }}
  SetEnv DB_PASSWORD {{ webapps_db_pass }}

  SetEnv DBSLAVE_HOSTNAME {{ webapps_dbslave_host }}
  SetEnv DBSLAVE_USERNAME {{ webapps_dbslave_user }}
  SetEnv DBSLAVE_PASSWORD {{ webapps_dbslave_pass }}

{% if is_nexica %}
  SetEnv DB3_HOSTNAME {{ webapps_db3_host }}
  SetEnv DB3_USERNAME {{ webapps_db3_user }}
  SetEnv DB3_PASSWORD {{ webapps_db3_pass }}

  SetEnv CORP_EMAIL_SMTP_HOST {{ webapps_corp_smtp_host }}
  SetEnv CORP_EMAIL_SMTP_USERNAME {{ webapps_corp_smtp_user }}
  SetEnv CORP_EMAIL_SMTP_PASSWORD {{ webapps_corp_smtp_pass }}
  SetEnv CORP_EMAIL_SMTP_SECURE ""

{% endif %}
  SetEnv CORP_MAGIC_KEY {{ webapps_corp_magic_key }}
  SetEnv CORP_SIMULATESELLIGENT {{ webapps_corp_simulate_selligent }}

  SetEnv AWS_ACCESS_KEY_ID {{ webapps_aws_access }}
  SetEnv AWS_SECRET_ACCESS_KEY {{ webapps_aws_secret }}
  SetEnv AWS_URL_DOMAIN {{ webapps_aws_url }}
  SetEnv AWS_BUCKET {{ webapps_aws_bucket }}

  SetEnv TRANSACTION_DB_HOST {{ webapps_trx_db_host }}
  SetEnv TRANSACTION_DB_USER {{ webapps_trx_db_user }}
  SetEnv TRANSACTION_DB_PASS {{ webapps_trx_db_pass }}
  SetEnv TRANSACTION_DB_NAME {{ webapps_trx_db_name }}

  SetEnv ABA_SERVERNAME {{ inventory_hostname }}

## JavasScript ABAENGLISH_B2C_domain and  ABAENGLISH_B2B_domain
  SetEnv CAMPUS_URL https://campus.{{ webapps_domain }}
  SetEnv Extranet_URL https://corporate.{{ webapps_domain }}

  SetEnv _SHAREDFOLDER /tmp/

## Cookie Monster ENV VARs
  SetEnv ABA_CAMPUS_COOKIES_URL campus.{{ webapps_domain }}
  SetEnv ABA_SITE_COOKIES_URL www.{{ webapps_domain }}
{% if webapps_debug %}

  SetEnv YII_DEBUG 1
{% endif %}
