###########################
#### GLOBAL DIRECTIVES ####
###########################

# Set the default permissions for all log files.
$FileOwner root
$FileGroup adm
$FileCreateMode 0640
$DirCreateMode 0755
$Umask 0022

$WorkDirectory /var/spool/rsyslog/

# Include all config files in /etc/rsyslog.d/
$IncludeConfig /etc/rsyslog.d/*.conf


################
### MODULES ####
################

$ModLoad imuxsock
$ModLoad imklog
$ModLoad immark
$MaxMessageSize 64k

#####################################
### FORWARDING of syslog Messages ###
#####################################

$ActionQueueType LinkedList   # use asynchronous processing
$ActionQueueFileName aba.queue  # set file name, also enables disk mode
$ActionResumeRetryCount -1    # infinite retries on insert failure
$ActionQueueSaveOnShutdown on # save in-memory data if rsyslog shuts down


###############
#### RULES ####
###############



{% if 'graylog' in groups %}
{# Use info gathered from AWS #}
{%  for back in groups['graylog'] %}
*.*      @{{ hostvars[back].ansible_default_ipv4.address }}:10515
{%  endfor %}
{% endif %}
