global
    log 127.0.0.1 local2
    daemon
    maxconn 1000
    tune.ssl.default-dh-param 2048

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http_in
    bind *:80
    http-request set-header X-Forwarded-Proto http
    http-request set-header X-Forwarded-Port 80
    default_backend http_service

frontend https_in
    bind *:443 ssl crt {{ haproxy_docker_config_path }}/wc_aba_local.pem
    # Emulate AWS ELB, fixes infinite redirects to https
    http-request set-header X-Forwarded-Proto https
    http-request set-header X-Forwarded-Port 443
    default_backend http_service

backend http_service
    balance roundrobin
    option forwardfor
    option httpchk GET /health
    http-check expect status 401

    server haproxy {{ ansible_host }}:{{ haproxy_port }}
