global
    log /dev/log local0
    maxconn 1000

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend HTTP
    bind *:80

    # For known IP client
    acl BR hdr_ip(X-Forwarded-For) -f {{ haproxy_docker_config_path }}/countries/BR.subnets
    acl MX hdr_ip(X-Forwarded-For) -f {{ haproxy_docker_config_path }}/countries/MX.subnets

    # ACL if domain is campus.{{ webapps_domain }}
    acl is_campus hdr_beg(host) -m beg campus.{{ webapps_domain }}
    acl is_corporate hdr_beg(host) -m beg corporate.{{ webapps_domain }}
    acl is_intranet hdr_beg(host) -m beg intranet.{{ webapps_domain }}
    acl is_api hdr_beg(host) -m beg api.{{ webapps_domain }}
    acl pathpayments path_sub /payments/payment

    # ACL detect https
    acl is_https hdr(X-Forwarded-Proto) https

    # Payments redirect
    http-request redirect code 301 location https://premium.{{ webapps_domain }}%[url,regsub(/payments/payment,/plans)] if !BR !MX is_campus pathpayments

    # https redirect
    redirect prefix https://intranet.{{ webapps_domain }} code 301 if !is_https is_intranet
    redirect prefix https://campus.{{ webapps_domain }} code 301 if !is_https is_campus
    redirect prefix https://corporate.{{ webapps_domain }} code 301 if !is_https is_corporate
    redirect prefix https://api.{{ webapps_domain }} code 301 if !is_https is_api

    default_backend http_service

backend http_service
    mode http
    balance roundrobin
    option httpclose
    option forwardfor
    http-request set-header X-Client-IP %[req.hdr_ip(X-Forwarded-For,1)]

    #sticky sessions
    cookie SERVERID insert indirect nocache
{% if 'haproxy_backend_group' in groups %}
{# Use info gathered from AWS #}
{%  for back in groups['haproxy_backend_group'] %}
    server {{ back|string }} {{ hostvars[back].ansible_default_ipv4.address }}:{{ webapps_port }} check cookie s{{ loop.index }}
{%  endfor %}
{% else %}
{%  for back in haproxy_backends %}
    server {{ back.name }} {{ back.ip }}:{{ webapps_port }} check cookie s{{ loop.index }}
{%  endfor %}
{% endif %}

listen stats
    bind *:1936
    stats enable
    stats uri /health
    stats hide-version
    stats auth abaadmin:{{ haproxy_stats_pass }}
