if $syslogfacility-text == 'local0' and $syslogseverity <= 5 and $syslogtag startswith 'haproxy' then -/var/log/haproxy/haproxy.notice.log
{% if not is_develop %}#{% endif %}if $syslogfacility-text == 'local0' and $syslogseverity == 6 and $syslogtag startswith 'haproxy' then -/var/log/haproxy/haproxy.info.log
{% if not is_develop %}#{% endif %}if $syslogfacility-text == 'local0' and $syslogseverity == 7 and $syslogtag startswith 'haproxy' then /var/log/haproxy/haproxy.debug.log
if $syslogfacility-text == 'local0' and $syslogtag startswith 'haproxy' then stop
