apiVersion: v1
kind: Service
metadata:
  name: cloud-config-server
  namespace: {{ namespace }}
  labels:
    tier: backing
    app: cloud-config-server
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 8888
  selector:
    tier: backing
    app: cloud-config-server
  type: NodePort # Just for minikube environments
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: cloud-config-server
  namespace: {{ namespace }}
spec:
  revisionHistoryLimit: 2
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        tier: backing
        app: cloud-config-server
    spec:
      containers:
        - name: cloud-config-server
          image: "nexus.aba.land:5000/cloud-config-server:{{ image_version }}"
          imagePullPolicy: Always
          ports:
            - containerPort: 8888
          readinessProbe:
            httpGet:
              path: /management/info
              port: 8888
          env:
          - name: ENCRYPT_KEY
            valueFrom:
              secretKeyRef:
                name: encryptkey
                key: encryptkey
          - name: JAVA_OPTS
            value: -Xmx96m
{% if new_relic_monitor is defined and new_relic_monitor == "true" %}
          - name: JAVA_AGENT
            valueFrom:
              configMapKeyRef:
                name: configmap-backend
                key: java.agent
          - name: NEW_RELIC_APP_NAME
            value: {{ env | upper }} cloud-config-server
          - name: NEW_RELIC_LICENSE_KEY
            valueFrom:
              configMapKeyRef:
                name: configmap-backend
                key: newrelic.licensekey
{% endif %}
      imagePullSecrets:
        - name: nexus.aba.land
