# {{ ansible_managed }}
acl local  { 127.0.0.0/8; };
acl office { {% for ip in dns_office_ip %}{{ ip }};{% endfor %} };

options {
    listen-on { {{ dns_listen_ip }}; {{ dns_listen_local_ip }}; };

    directory           "/var/named";
    dump-file           "/var/named/data/cache_dump.db";
    statistics-file     "/var/named/data/named_stats.txt";
    memstatistics-file  "/var/named/data/named_mem_stats.txt";

    allow-query       { any; };
    allow-query-cache { any; };
    allow-recursion   { any; };
    allow-transfer    { office; };

    dnssec-enable yes;
    dnssec-validation yes;

    /* Path to ISC DLV key */
    bindkeys-file "/etc/named.iscdlv.key";

    managed-keys-directory "/var/named/dynamic";
};

logging {
    channel default_debug {
        file "data/named.run";
        severity dynamic;
    };
};

view "internal" {
    match-clients { office; local; };

{% for d in dns_domains %}
    zone "{{ d.domain }}"
    {
        type {{ d.type|default('master') }};
        file "{{ dns_conf_dir }}/db.{{ d.domain }}";
    };

{% endfor %}
    include "/etc/named.rfc1912.zones";
    include "/etc/named.root.key";
};
