$TTL    {{ dns_ttl }}
@       IN      SOA     ns.{{ item.domain }}. root.ns.{{ item.domain }}. (
                        {{ ((ansible_date_time.epoch|int - 1486422000)/60)|int }}         ; Serial
                        5m            ; Refresh
                        5m            ; Retry
                        5m            ; Expire
                        1d )          ; Negative Cache TTL
;
{% for record in item.zone %}
{{ record.name }} IN {{ record.ttl|default('  ') }}  {{ record.type|default('A ') }}  {{ record.value }}
{% endfor %}
