apiVersion: v1
kind: Service
metadata:
{% if load_balancer_port is defined and load_balancer_port == 443 %}
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-ssl-cert: {{ elb_ssl }}
    service.beta.kubernetes.io/aws-load-balancer-backend-protocol: http
{% endif %}
  name: websockets-to-mq
  namespace: {{ namespace }}
  labels:
    tier: backend
    app: websockets-to-mq
spec:
  ports:
  - port: {{ load_balancer_port | default(80) }}
    protocol: TCP
    targetPort: 8080
  selector:
    tier: backend
    app: websockets-to-mq
  type: {{ port_service_type | default('LoadBalancer') }}
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: websockets-to-mq
  namespace: {{ namespace }}
spec:
  revisionHistoryLimit: 2
  minReadySeconds: 60
  template:
    metadata:
      annotations:
        pod.beta.kubernetes.io/init-containers: '[
            {
                "name": "waiting-cloud-config-server",
                "image": "busybox",
                "command": ["/bin/sh", "-c", "for i in $(seq 1 300); do sleep 1; if nslookup cloud-config-server; then exit 0; fi; done; exit 1"],
                "imagePullPolicy": "IfNotPresent"
            }
        ]'
      labels:
        tier: backend
        app: websockets-to-mq
    spec:
      containers:
        - name: websockets-to-mq
          image: "nexus.aba.land:5000/websockets-to-mq:{{ image_version }}"
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
{% if host_port_websocket is defined %}
              hostPort: {{ host_port_websocket }}
{% endif %}
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
          env:
          - name: CONFIG_SERVER_URI
            valueFrom:
              configMapKeyRef:
                name: configmap-backend
                key: config.uri
          - name: ENCRYPT_KEY
            valueFrom:
              secretKeyRef:
                name: encryptkey
                key: encryptkey
          - name: ENVIRONMENT
            valueFrom:
              configMapKeyRef:
                name: configmap-backend
                key: environment
          - name: NODE_ENV
            valueFrom:
              configMapKeyRef:
                name: configmap-backend
                key: node.env
{% if new_relic_monitor is defined and new_relic_monitor == "true" %}
          - name: NEW_RELIC_APP_NAME
            value: {{ env | upper }} websocket-to-mq
          - name: NEW_RELIC_LICENSE_KEY
            valueFrom:
              configMapKeyRef:
                name: configmap-backend
                key: newrelic.licensekey
{% endif %}
      imagePullSecrets:
        - name: nexus.aba.land
