apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: redis
  namespace: {{ namespace }}
spec:
  minReadySeconds: 60
  template:
    metadata:
      labels:
        tier: backing
        app: redis
    spec:
      containers:
        - name: redis
          image: "redis:3.2-alpine"
          imagePullPolicy: Always
          ports:
            - containerPort: 6379
---
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: {{ namespace }}
  labels:
    tier: backing
    app: redis
spec:
  ports:
  - port: 6379
    protocol: TCP
    targetPort: 6379
    name: "6379"
  selector:
    tier: backing
    app: redis
  type: ClusterIP
