apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
spec:
  scaleTargetRef:
    apiVersion: extensions/v1beta1
    kind: Deployment
    name: {{ app_name }}
  minReplicas: 2
  maxReplicas: 4
  targetCPUUtilizationPercentage: 60
