apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: "traefik"
    traefik.frontend.passHostHeader: "true"
    traefik.backend.loadbalancer.sticky: "true"
  name: abaenglish
  namespace: {{ namespace }}
spec:
  rules:
  - host: {{ gatewaydomain }}
    http:
      paths:
      - path: /api/v1/payment-notifications
        backend:
          serviceName: subscription-service
          servicePort: 80


      - path: /api/v1/subscription-notifications
        backend:
          serviceName: subscription-service
          servicePort: 80

      - path: /api/v1/transactions
        backend:
          serviceName: transaction-service
          servicePort: 80

      - path: /websocket
        backend:
          serviceName: websockets-to-mq
          servicePort: 8080

      - path: /api/v1/plans
        backend:
          serviceName: plan-service
          servicePort: 80

      - path: /api/v1/subscriptions
        backend:
          serviceName: subscription-service
          servicePort: 80

      - path: /api/v1/paymentforms
        backend:
          serviceName: paymentform-service
          servicePort: 80

      - path: /api/v1/signatures
        backend:
          serviceName: paymentform-service
          servicePort: 80

      - path: /api/v1/users
        backend:
          serviceName: user-service
          servicePort: 80

      - path: /api/v1/moments
        backend:
          serviceName: moment-service
          servicePort: 80

      - path: /api/v1/videos
        backend:
          serviceName: video-provider-service
          servicePort: 80

      - path: /api/v1/geoips
        backend:
          serviceName: video-provider-service
          servicePort: 80

      - path: /oauth
        backend:
          serviceName: authorization-service
          servicePort: 80


  - host: {{ actuatordomain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: api-gateway
          servicePort: 80
