apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: mysql
  namespace: {{ namespace }}
spec:
  minReadySeconds: 60
  template:
    metadata:
      labels:
        tier: backing
        app: mysql
    spec:
      containers:
        - name: mysql
          image: "mysql:5.7"
          imagePullPolicy: Always
          ports:
            - containerPort: 3306
          env:
           - name: MYSQL_ROOT_PASSWORD
{% if env == "qa" %}
             valueFrom:
               secretKeyRef:
                 name: mysqlpassword
                 key: mysqlpassword
{% endif %}
{% if env == "minikube" %}
             value: admin
{% endif %}
           - name: MYSQL_DATABASE
             value: subscription-service
---
apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: {{ namespace }}
  labels:
    app: mysql
    tier: backing
spec:
  ports:
    - port: 3306
      protocol: TCP
      targetPort: 3306
  selector:
    app: mysql
    tier: backing
  type: {{ port_service_type | default('LoadBalancer') }}
