# RabbitMQ will not be deployed on PRE and PRO
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: rabbitmq
  namespace: {{ namespace }}
spec:
  minReadySeconds: 60
  template:
    metadata:
      labels:
        tier: backing
        app: rabbitmq
    spec:
      containers:
        - name: rabbitmq
          image: "rabbitmq:3-management-alpine"
          imagePullPolicy: Always
          ports:
            - containerPort: 4369
            - containerPort: 5671
            - containerPort: 5672
            - containerPort: 15671
            - containerPort: 15672
            - containerPort: 25672
---
apiVersion: v1
kind: Service
metadata:
  name: rabbitmq
  namespace: {{ namespace }}
  labels:
    tier: backing
    app: rabbitmq
spec:
  ports:
  - port: 4369
    protocol: TCP
    targetPort: 4369
    name: "4369"
  - port: 5671
    protocol: TCP
    targetPort: 5671
    name: "5671"
  - port: 5672
    protocol: TCP
    targetPort: 5672
    name: "5672"
  - port: 15671
    protocol: TCP
    targetPort: 15671
    name: "15671"
  - port: 15672
    protocol: TCP
    targetPort: 15672
    name: "15672"
  - port: 25672
    protocol: TCP
    targetPort: 25672
    name: "25672"
  selector:
    tier: backing
    app: rabbitmq
  type: {{ port_service_type | default('LoadBalancer') }}
