kind: ConfigMap
apiVersion: v1
metadata:
  name: configmap-backend
  namespace: {{ namespace }}
data:
  config.uri: http://cloud-config-server
  environment: {{ env }} # Change on AWS environments
  java.agent: "-javaagent:newrelic.jar"
  newrelic.licensekey: 43a66c9aa1118deaf00ee73269c3b0f4188aa912
  node.env: production
